body{
    background-color: black;
    text-align: center;
    margin-top: 0px; 
}
section{
    background-color: #fffe;
    width: 790px;
margin: 0 auto;
border-radius: 10px;
}
p{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #ff8906;
    text-align: center;
}
 header .container img{
    width: 100px;
    

}
header.container{
    text-align: center;
}
footer{
    background-color: #e53170;
    color: #fffe;
    text-align: center;
    padding: 10px;
  position: fixed;
   width: 100%;
   bottom: 0; 
   left: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: uppercase;
}
nav ul li{
    display: inline;
    margin: 0 20px;  
}
a{
    color: #fffe;
}
  

